{{>layouts/header}}

<table class="table">
    <thead>
    <tr>
        <th scope="col">Id</th>
        <th scope="col">Title</th>
        <th scope="col">Content</th>
    </tr>
    </thead>
    <tbody>
    {{#article}}
        <tr>
            <th>{{id}}</th>
            <td>{{title}}</td>
            <td>{{content}}</td>
        </tr>
    {{/article}}
    </tbody>
</table>
<a class="btn btn-primary" href="/articles/{{article.id}}/edit">Edit</a>
<a id="deleteBtn" class="btn btn-primary" href="/articles/{{article.id}}">delete</a>
<a href="/articles" class="btn btn-success">Go to Article List</a>

{{>layouts/footer}}


<script>
    (function () {
        const form = document.querySelector('#deleteBtn');

        form.addEventListener('click', async (e) => {
            e.preventDefault();
            try {
                const res = await fetch(`/articles/{{id}}`, {
                    method: 'DELETE',
                });
                if (!res.ok) {
                    const text = await res.text();
                    throw new Error(`Delete failed: ${res.status} ${text}`);
                }
                window.location.href = `/articles`;
            } catch (err) {
                alert(err.message);
                console.error(err);
            }
        });
    })();
</script>
